<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd " "mybatis-3-mapper.dtd" >
<mapper namespace="zx.soft.sdn.api.dao.LocationDao">
<!-- 根据基站SAC信息和基站LAC信息查询基站位置信息，并通过外键关联查询地址信息 -->
<select id="getLocation" parameterType="String" resultMap="LocationResultMap">
SELECT * FROM location WHERE sac=#{sac} AND lac=#{lac}
</select>
<resultMap type="zx.soft.sdn.api.model.Location" id="LocationResultMap">
<association property="address" column="addressId" select="getAddress"/>
</resultMap>
</mapper>
